* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.lista {
  color: white;
}

.boton-buscar {
  background-color: white;
  color: black;
}

.navbar {
  height: 80px;
}

.navbar-brand {
  font-size: 30px;
}

.letra {
  font-size: 20px;
}

.navbar-collapse {
  background-color: #1757E5;
}

.navbar {
  z-index: 1000;
}

.mas-vendidos {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 350px 350px;
  justify-content: center;
  align-items: center;
  background: url("https://st2.depositphotos.com/1028911/9637/i/950/depositphotos_96370274-stock-photo-supermarket-interior-with-shelves-full.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.mas-vendidos div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 177, 0.9333333333);
  color: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(61, 60, 60);
}
.mas-vendidos div img {
  width: 200px;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 10px;
  transition: 1s ease-in-out;
}
.mas-vendidos div img:hover {
  box-shadow: grey 5px 5px 5px 5px;
  transform: scale(0.95);
}

@media (max-width: 900px) {
  .mas-vendidos {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 350px 350px 350px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .mas-vendidos {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 350px 350px 350px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .pie {
    display: flex;
    flex-direction: column !important;
    justify-content: start !important;
  }
}
@media (max-width: 750px) {
  .contacto {
    display: grid;
    grid-template-rows: repeat(5, 130px);
    grid-template-areas: "telefono" "mail" "direccion-contacto" "consulta" "consulta" !important;
    padding-bottom: 50px;
  }
}
@media (max-width: 950px) {
  .formulario-padre .formulario {
    height: 500px;
  }
}
@media (max-width: 950px) {
  .carro {
    flex-direction: column;
  }
  .carro .lista-productos {
    width: 300px !important;
    grid-template-areas: "titulo-lista" "lista" !important;
  }
  .carro .detalle-compra {
    height: 800px !important;
    width: 300px !important;
    margin: 0px 0px 20px 0px !important;
  }
  .carro .detalle-compra .envio-formulario {
    grid-template-areas: "medio-pago" "medio-titulo1" "lista-credito" "medio-titulo2" "lista-debito" "direccion-titulo" "lista-direccion" "lista-direccion" "lista-direccion" "lista-direccion" !important;
  }
  .carro .detalle-compra .envio-formulario .medio-pago {
    margin-left: 10px !important;
  }
  .carro .detalle-compra .envio-formulario .direccion-titulo {
    margin-left: 10px !important;
  }
  .carro .detalle-compra .envio-formulario .lista-direccion {
    margin-right: 30px !important;
  }
}
.pie {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  padding-top: 10px;
}

.formulario-padre {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  background: url("https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F551945fe-7db9-46f1-9bdc-dbc031776849_785x502.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.formulario-padre .registro-titulo {
  text-align: center;
}
.formulario-padre .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  border-radius: 10px;
  background-color: rgb(71, 71, 175);
}
.formulario-padre .formulario a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
.formulario-padre .formulario a:hover {
  color: orange;
}
.formulario-padre .formulario .boton-registro {
  width: 120px;
  height: 2rem;
  margin: 10px 0 10px 0;
}

.contenido-nosotros {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #2727E6;
  padding-bottom: 60px;
}
.contenido-nosotros h1 {
  font-size: 4rem;
  transform: rotate(-3deg);
}
.contenido-nosotros p {
  font-size: 1.2rem;
  margin: 20px 80px;
}

.contacto-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height: 80px;
  background-color: #4DACE3;
}

.contacto {
  min-height: 100vh;
  background-color: #2727E6;
  padding-top: 50px;
  display: grid;
  grid-template-rows: repeat(3, 130px);
  grid-template-areas: "telefono consulta" "mail consulta" "direccion-contacto .";
}
.contacto .telefono {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: telefono;
}
.contacto .telefono:hover {
  transform: scale(1.1);
  transition: 1s;
}
.contacto .mail {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: mail;
}
.contacto .mail:hover {
  transform: scale(1.1);
  transition: 1s;
}
.contacto .direccion-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: direccion-contacto;
}
.contacto .direccion-contacto:hover {
  transform: scale(1.1);
  transition: 1s;
}
.contacto .consulta {
  grid-area: consulta;
}
.contacto .consulta-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto .consulta-texto input {
  width: 100px;
  justify-content: right;
  margin-top: 20px;
  font-weight: bold;
}
.contacto p {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.carro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4DACE3;
  height: 100vh;
}
.carro p {
  color: white;
  font-size: 1.2rem;
}
.carro .lista-productos {
  border-radius: 20px;
  background-color: #4D4DE3;
  margin: 30px;
  width: 40%;
  height: 500px;
  display: grid;
  grid-template-rows: 50px 300px;
  grid-template-areas: "titulo-lista ." ". lista";
}
.carro .lista-productos label {
  font-size: 1.2rem;
}
.carro .lista-productos .titulo-lista {
  margin: 10px 20px;
  grid-area: titulo-lista;
}
.carro .lista-productos .lista {
  grid-area: lista;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
  height: 300px;
}
.carro .lista-productos .lista ul {
  list-style: none;
}
.carro .lista-productos .lista .total {
  text-align: center;
}
.carro .lista-productos .lista .confirma-boton {
  width: 100px;
  height: 40px;
}
.carro .detalle-compra {
  background-color: #4D4DE3;
  margin-right: 30px;
  border-radius: 20px;
  width: 60%;
  height: 500px;
}
.carro .detalle-compra .titulo-envio {
  margin: 10px 20px;
}
.carro .detalle-compra .envio-formulario {
  display: grid;
  grid-template-areas: "medio-pago . direccion-titulo" "medio-titulo1 . lista-direccion" "lista-credito . lista-direccion" "medio-titulo2 . lista-direccion" "lista-debito . lista-direccion";
}
.carro .detalle-compra .envio-formulario ul {
  list-style: none;
  color: white;
}
.carro .detalle-compra .envio-formulario label {
  font-size: 1.2rem;
  margin-left: 5px;
}
.carro .detalle-compra .envio-formulario .lista-direccion {
  grid-area: lista-direccion;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}
.carro .detalle-compra .envio-formulario .lista-direccion input {
  height: 35px;
  width: 200px;
  margin: 5px;
}
.carro .detalle-compra .envio-formulario .medio-pago {
  grid-area: medio-pago;
  margin-left: 70px;
}
.carro .detalle-compra .envio-formulario .direccion-titulo {
  grid-area: direccion-titulo;
}
.carro .detalle-compra .envio-formulario .medio-titulo1 {
  grid-area: medio-titulo1;
  margin-left: 70px;
}
.carro .detalle-compra .envio-formulario .lista-credito {
  grid-area: lista-credito;
  margin-left: 70px;
}
.carro .detalle-compra .envio-formulario .medio-titulo2 {
  grid-area: medio-titulo2;
  margin-left: 70px;
}
.carro .detalle-compra .envio-formulario .lista-debito {
  grid-area: lista-debito;
  margin-left: 70px;
}

/*# sourceMappingURL=main.css.map */
