$color-fondo: #4D4DE3;
$color-seccion: #4DACE3;
.compra{
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color: $color-seccion;
    .articulos{
        width: 30%;
        height: 450px;
        margin: 15px;
        padding-top: 50px;
        border-radius: 10px;
        display: grid;
        background-color: $color-fondo;
        grid-template-rows: repeat(6, 50px);
        grid-template-areas:    "titulo-compra ."
                                "producto1 precio1" 
                                "producto2 precio2"
                                "producto3 precio3" 
                                "producto4 precio4"
                                ". ."
                                "total suma";
    };
    .titulo-compra{
        grid-area: titulo-compra;
        margin-left: 10px;
    }
    .producto1{
        grid-area: producto1;
        display: flex;
        justify-content: right;
        align-items: center;
    };
    .precio1{
        grid-area: precio1;
        display: flex;
        justify-content: center;
        align-items: center;
    };
    .producto2{
        grid-area: producto2;
        display: flex;
        justify-content: right;
        align-items: center;
    };
    .precio2{
        grid-area: precio2;
        display: flex;
        justify-content: center;
        align-items: center;
    };
    .producto3{
        grid-area: producto3;
        display: flex;
        justify-content: right;
        align-items: center;
    };
    .precio3{
        grid-area: precio3;
        display: flex;
        justify-content: center;
        align-items: center;
    };
    .producto4{
        grid-area: producto4;
        display: flex;
        justify-content: right;
        align-items: center;
    };
    .precio4{
        grid-area: precio4;
        display: flex;
        justify-content: center;
        align-items: center;
    };
    .total{
        grid-area: total;
        display: flex;
        justify-content: right;
        align-items: center;        
    }
    .suma{
        grid-area: suma;
        display: flex;
        justify-content: center;
        align-items: center;          
    }
    label{
        font-size: 1.2rem;
        color: white;
        margin: 0px 10px;
    }
    p{
        font-size: 1.2rem;
        color: white;
        margin: 0px;
    }
}