@media(max-width: 900px){
    .mas-vendidos{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: 350px 350px 350px;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 600px){
    .mas-vendidos{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 350px 350px 350px;
        justify-content: center;
        align-items: center;

    }
}
@media(max-width: 900px){
    .pie{
        display: flex;
        flex-direction: column !important;
        justify-content: start !important;
    }
}
@media(max-width: 750px){
    .contacto{
        display: grid;
        grid-template-rows: repeat(5, 130px);
        grid-template-areas:"telefono"
                            "mail"
                            "direccion-contacto"
                            "consulta"
                            "consulta" !important;
        padding-bottom: 50px;
}
}
@media(max-width: 950px){
    .formulario-padre {
        .formulario{
            height: 500px;
        }
}
}
@media(max-width: 950px){
    .carro{
        flex-direction: column;
        .lista-productos{
            width: 300px !important;
            grid-template-areas:    "titulo-lista"
                                    "lista" !important;
        }
        .detalle-compra{
            height: 800px !important;
            width: 300px !important;
            margin: 0px 0px 20px 0px !important;
        
            .envio-formulario{
                grid-template-areas:    "medio-pago"  
                                        "medio-titulo1"
                                        "lista-credito" 
                                        "medio-titulo2" 
                                        "lista-debito" 
                                        "direccion-titulo"
                                        "lista-direccion"
                                        "lista-direccion"
                                        "lista-direccion"
                                        "lista-direccion" !important;
                .medio-pago{
                    margin-left: 10px !important;
                }
                .direccion-titulo{
                    margin-left: 10px !important;
                }
                .lista-direccion{
                    margin-right: 30px !important;
                }          
}
}
}
}