@media(max-width: 900px){
    .mas-vendidos{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: 350px 350px 350px;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 900px){
    .pie{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}