@media(max-width: 900px){
    .mas-vendidos{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: 350px 350px 350px;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 600px){
    .mas-vendidos{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 350px 350px 350px;
        justify-content: center;
        align-items: center;

    }
}
@media(max-width: 900px){
    .pie{
        display: flex;
        flex-direction: column !important;
        justify-content: start !important;
    }
}
@media(max-width: 750px){
    .contacto{
        display: grid;
        grid-template-rows: repeat(5, 130px);
        grid-template-areas:"telefono"
                            "mail"
                            "direccion-contacto"
                            "consulta"
                            "consulta" !important;
        padding-bottom: 50px;
}
}
@media(max-width: 950px){
    .compra{
        height: 500px;
        display: flex;
        flex-direction: column !important;
        .articulos{
            width: 90% !important;
            margin: 15px;
        }
}
}
@media(max-width: 950px){
    .compra{
        height: 1300px !important;
        margin: auto;
        .articulos{
            margin: auto !important;
        };
        .envio{
            height: 750px;
            width: 90%;
            margin-bottom: 50px;
            border-radius: 15px;
            display: grid;
            grid-template-rows: 50px 300px 300px;
            padding-top: 50px;
            grid-template-areas:"titulo-envio"
                                "medios-pago"
                                "direccion" !important;
                                .medio-pago{
                                    margin: auto;
                                    padding-bottom: 50px;
                                };
                                .direccion{
                                    margin: auto;
                                    padding-bottom: 150px;
                                }
                }
    
            }
}
@media(max-width: 950px){
    .formulario-padre {
        .formulario{
            height: 500px;
        }
}
}