$zindex-dropdown: 1000;
.lista{
    color: white;
}
.boton-buscar{
    background-color: white;
    color: black;
}
.navbar{
    height: 80px;
}
.navbar-brand {
    font-size: 30px;
}
.letra{
    font-size: 20px;
}
.navbar-collapse{
    background-color: #1757E5;
}
.navbar {
    z-index: 1000;
  }